<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rjx.gogu02"
    android:versionCode="10"
    android:versionName="1.9" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- Include following permission if you want to cache images on SD card -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 必须的权限： -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 获取设备信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 获取MAC地址 -->


    <!-- 可选的权限： -->
    <uses-permission android:name="android.permission.READ_LOGS" /> <!-- 获取logcat日志 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo108"
        android:logo="@drawable/logo_green"
        android:label="股刺"
        android:theme="@style/Theme.Gogu02" >
        <activity
            android:name="com.rjx.gogu02.aty.LogoPicAty"
            android:label="股刺" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.rjx.gogu02.aty.LoginAty" >
        </activity>
        <activity android:name="com.rjx.gogu02.aty.MainActivity" >
        </activity>
        <activity
            android:name="com.rjx.gogu02.aty.DetailsMicropostAty"
            android:windowSoftInputMode="stateHidden|adjustResize" >
        </activity>
        <activity
            android:name="com.rjx.gogu02.aty.NewMicropostAty"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" >
        </activity>
        <activity
            android:name="com.rjx.gogu02.aty.ChangeMicropostAty"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" >
        </activity>
        <activity android:name=".testaty" >
        </activity>
        <activity android:name="com.rjx.gogu02.aty.RegAty" >
        </activity>
        <activity android:name="com.rjx.gogu02.aty.SearchAty" >
        </activity>
        <activity android:name="com.rjx.gogu02.aty.StockMicropostListAty" >
        </activity>
        <activity android:name="com.rjx.gogu02.aty.MyMicropostAty" >
        </activity>
        <activity
            android:name="com.rjx.gogu02.aty.NewMessageAty"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" >
        </activity>
        <activity android:name="com.rjx.gogu02.aty.MyChatAty" >
        </activity>
        <activity android:name="com.rjx.gogu02.aty.SettingsAty" >
        </activity>
        <activity android:name="com.rjx.gogu02.aty.MyReplyAty" >
        </activity>
        <activity android:name="com.rjx.gogu02.aty.testAty" >
        </activity>
        <activity android:name="com.rjx.gogu02.aty.PicDetailAty" >
        </activity>
        <activity android:name="com.rjx.gogu02.aty.DelPicAty" >
        </activity>
        <activity android:name="com.rjx.gogu02.aty.ForgetPwdAty" >
        </activity>
        <activity android:name="com.rjx.gogu02.aty.AdviceAty" >
        </activity>
        <activity android:name="com.rjx.gogu02.aty.ChangePwdAty" >
        </activity>

        <service android:name="com.rjx.gogu02.service.NotificationService" >
        </service>

        <!--
             <receiver android:name="com.rjx.gogu02.receiver.InstallStartReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        -->
        <receiver android:name="com.rjx.gogu02.receiver.StartedBoardcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>